:root {
    --prymary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --prymary-white-color: #000000;
    --second-colr-text: #ffffff;
}

body {
    font-family: roboto, sans-serif;
    color: #212121;
;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* logo */
.header-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-title {
    color: var(--accent-color);
}

/* navigation */
.header-link, .header-mail, .header-tel {
    font-weight: 500px;
    Font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.header-link:hover, 
.header-mail:hover, 
.header-tel:hover {
    color: var(--accent-color);
}

.header-tel, .header-mail {
    color: var(--prymary-text-color);
}

/* preview */
.preview {
    background-color: #2F303A;
}
.preview-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.preview-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}